#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.input{
  padding: 10px;
  margin: 10px;
}
label{
  font-size: 1.3rem;
}
input{
  font-size: 1.3rem;
  padding: 5px;
}

button{
  font-size: 1.3rem;
  padding: 5px;
}




